.image img {
  width: 100%;
  position: relative;
}
.menuBox {
  display: none;
  position: absolute;
}
.menuBox li{
  list-style-type: none;
  text-align: center;
}
.menuBox button {
  color: #ffffff;
  cursor: pointer;
  padding: 3px;
  background-color: #5b92e5;
  font-weight: 700;

}
.circle{
  position: absolute;
  width: 40px;
  height: 40px;
  border: solid 5px rgb(255, 0, 0);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0);
  display: none;
}


.menuBox button:hover{
  background-color: #ff0000;
}