.modalForm input {
  margin: 5px;
  padding: 3px;
}

.modalForm button {
  color: white;
  background-color: #5b92e5;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.modalForm button:hover {
  background-color: #2d78e8;
  transition: 0.2s;
}

.error{
  font-size: .6em;
}