.scoreboard h1 {
  text-align: center;
  margin: 20px;
  color: red;
  font-size: 3rem;
}

.scoreTable{
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 2rem;
}

.scoreTable thead {
  background-color: #3378df;
  color: white;
}
.scoreTable tr:nth-child(even){
  background-color: #ff0000;
  color: #ffffff;
}

table, th, td {
  border: 1px solid white;
  padding: 20px 40px;
  text-align: center;
}